* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 244, 249);
    font-family: Arial, Helvetica, sans-serif;
}

main section {
    width: 80%;
    margin: 2rem auto 0 auto;
}
header h1 {
display: inline-block;
vertical-align:top;
line-height: 80px;
}

ul{
    list-style-type: none;
    font-size: .8rem;
}
ul li {
    margin: .4rem 0 1rem 0;
    font-size: .9rem;
}

h2{
    padding-top: 1rem;
}
img.main-logo {
    padding-left: 2rem;
    padding-top: 1rem;

}

.bg-color {
    background-color: white;
}

input.button-style {

    height: 1.5rem;
    text-align: center;
    border-radius: .2rem;
    font-size: 0.7rem;
}
span.cross,
span.check {
    border: .1rem solid;
    border-radius: 100%;
    font-size: .7rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding-left: .15rem;
}

.check {
    color: rgb(11, 125, 60);
}

.cross {
    color: red;
}

input.button-list {
    border: none;
    border-radius: .5rem;
    font-size: 0.6rem;
    padding: .3rem;
    color: white;
}

input.editorial-button {
    background-color: rgb(61, 143, 230);
}
#button-info {
    padding: 0.6rem 2rem;
}

#task-add {
    width: 4rem;
    background-color: rgb(61, 143, 230);
    border: none;
    color: white;
}

#section-add {
    width: 5rem;
    background-color: white;
    border: 0.1rem solid lightgray;
    color: lightgrey;
}

#main-list {
    padding: 0 2rem 2rem;
    margin-top: .1rem;
}

#goals-button {
    background-color: blueviolet;
}

#recl-button {
    background-color: #00A86B ;
}

#mobile-button {
    background-color: orange;
}

#website-button {
    background-color: palevioletred;
}

#sales-button {
    background-color: olivedrab;
}