* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 244, 249);
}

main section {
    width: 80%;
    margin: 2rem auto 0 auto;
}
header h1 {
display: inline-block;
vertical-align:top;
line-height: 80px;

}

ul {
    line-height: 2rem;
}

img.main-logo {
    padding-left: 2rem;
    padding-top: 1rem;

}

.bg-color {
    background-color: white;
}

input.button-style {

    height: 1.5rem;
    text-align: center;
    border-radius: .2rem;
    font-size: 0.7rem;
}
span.cross,
span.check {
    border: .1rem solid;
    border-radius: 100%;
    font-size: .7rem;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    vertical-align: middle;

}

#button-info {
    padding: 0.6rem 2rem;
}

#task-add {
    width: 4rem;
    background-color: rgb(61, 143, 230);
    border: none;
    color: white;
}

#section-add {
    width: 5rem;
    background-color: white;
    border: 0.1rem solid lightgray;
    color: lightgrey;
}

#main-list {
    padding: 2rem;
    margin-top: .1rem;

}
